.btn1 {
  background-color: white;
  color: black !important;
  padding: 7px 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.btn1:hover {
  background-color: black;
  color: white !important;
  border: 1px solid white;
}

.btn2 {
  background-color: var(--black);
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border: 2px solid transparent;
}
.btn2:hover {
  background-color: white;
  color: #2e4c6d;
  border: 2px solid var(--black);
}

.btn3 {
  background-color: white;
  color: var(--black);
  padding: 7px 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  border: none;
}
.btn3:hover {
  background-color: white;
  color: #2e4c6d;
}
